.contenedor {
  text-align: center;
  width: 80%;
  max-width: 960px;
  margin: 40px auto;
}

@font-face {
  font-family: 'FuenteTitulo';
  src: url('/fuente.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #ffffff;
  margin-bottom: 48px;
  font-family: 'FuenteTitulo', sans-serif;
}

h2 {
  font-size: x-large;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.producto {
  width: 250px;
  height: 350px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}


ul {
  color: white;
  justify-content: center;
  align-items: center;
}
.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.producto img {
  width: auto;
  max-height: 120px;
  margin-bottom: 15px;
}

.producto h2 {
  margin: 10px 0;
  text-align: center;
}

.producto p {
  text-align: center;
  margin-bottom: 15px;
}

.producto button {
  cursor: pointer;
}

.producto a {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.producto a:hover {
  background-color: #434a52;
}

.contenedor-boton {
  text-align: center;
  margin-top: 20px;
}

.contenedor-boton button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-boton button:hover {
  background-color: #434a52;
}

.metodos-pago {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 10;
}

.metodos-pago h3 {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  margin: 0 0 5px 0;
}

.metodos-pago img {
  width: 100%;
  height: auto;
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
}

body {
  background-image: url('/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #f5f5f5;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #333;
}

.form input[type="email"],
.form select,
.form textarea,
.form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form .u-full-width {
  font-size: 0.95em;
  line-height: 1.4em;
  background: #f9f9f9;
}

.form textarea {
  height: 120px;
}

.form .button-primary {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form .button-primary:hover {
  background-color: #555;
}

.form .example-send-yourself-copy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form .label-body {
  margin-left: 8px;
  color: #333;
  font-size: 0.9em;
}

@media (max-width: 767px) {
  .form input[type="email"],
  .form select,
  .form textarea,
  .form input[type="checkbox"] {
      width: 100%;
  }

  .form .row {
      flex-direction: column;
  }

  .form .six.columns {
      width: 100%;
  }
}


.usuario-registrado {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.usuario-registrado p {
  margin: 0;
  padding: 0;
}

.usuario-registrado a {
  display: block;
  margin-top: 5px;
  color: #333;
  text-decoration: none;
}

.usuario-registrado a:hover {
  text-decoration: underline;
}

#suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

