<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Procesadores</title>
    <link rel="stylesheet" href="/css/tienda.css">
</head>
<body>
    <div class="contenedor">
        <h1>Procesadores - TOP 4</h1>
        <div class="productos">
            <!-- Procesador Opción 1 -->
            <div class="producto">
                <img src="/images/procesador1.jpg" alt="Intel Core i9-13900K">
                <h2>Intel Core i9-13900K</h2>
                <p>24 Núcleos (8P + 16E), 32 Hilos | Frecuencia base: 3.0 GHz</p>
                <p>Precio: 848€</p>
            </div>
            <!-- Procesador Opción 2 -->
            <div class="producto">
                <img src="/images/procesador2.jpg" alt="AMD Ryzen 9 7950X3D">
                <h2>AMD Ryzen 9 7950X3D</h2>
                <p>16 Núcleos, 32 Hilos | Frecuencia base: 3.0 GHz</p>
                <p>Precio: 619€</p>
            </div>
            <!-- Procesador Opción 3 -->
            <div class="producto">
                <img src="/images/procesador3.jpg" alt="Intel Core i7-14700K ">
                <h2>Intel Core i7-14700K </h2>
                <p>16 Núcleos (8P + 8E), 24 Hilos | Frecuencia base: 3.4 GHz</p>
                <p>Precio: 467€</p>
            </div>
            <!-- Procesador Opción 4 -->
            <div class="producto">
                <img src="/images/procesador4.jpg" alt="Intel Core i5-14600K">
                <h2>Intel Core i5-14600K</h2>
                <p>10 Núcleos (6P + 4E), 16 Hilos | Frecuencia base: 3.6 GHz</p>
                <p>Precio: 354€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>
    </div>

</body>
</html>
