<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tarjeta Gráfica</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>Tarjeta Gráfica - TOP 4</h1>
        <div class="productos">
            <!-- NVIDIA GeForce RTX 4090 -->
            <div class="producto">
                <img src="/images/tarjeta-grafica1.png" alt="NVIDIA GeForce RTX 4090">
                <h2>NVIDIA GeForce RTX 4090</h2>
                <p>24 GB GDDR6X | 16384 Núcleos CUDA | Boost: 2.52 GHz</p>
                <p>Precio: 2.229€</p>
            </div>
            <!-- AMD Radeon RX 6800 XT -->
            <div class="producto">
                <img src="/images/tarjeta-grafica2.png"" alt="AMD Radeon RX 6800 XT">
                <h2>AMD Radeon RX 6800 XT</h2>
                <p>16 GB GDDR6 | 4608 Núcleos Stream | Boost: 2.25 GHz</p>
                <p>Precio: 1.298€</p>
            </div>
            <!-- NVIDIA GeForce RTX 4080 -->
            <div class="producto">
                <img src="/images/tarjeta-grafica3.png"" alt="NVIDIA GeForce RTX 4080">
                <h2>NVIDIA GeForce RTX 4080</h2>
                <p>16 GB GDDR6X | 9728 Núcleos CUDA | Boost: 2.51 GHz</p>
                <p>Precio: 1.149€</p>
            </div>
            <!-- NVIDIA GeForce RTX 4070 Ti -->
            <div class="producto">
                <img src="/images/tarjeta-grafica4.png" alt="NVIDIA GeForce RTX 4070 Ti">
                <h2>NVIDIA GeForce RTX 4070 Ti</h2>
                <p>12 GB GDDR6X | 7680 Núcleos CUDA | Boost: 2.61 GHz</p>
                <p>Precio: 970€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>
        
    </div>

</body>
</html>
