<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tarjetas Memoria RAM</title>
    <link rel="stylesheet" href="/css/tienda.css">
</head>
<body>
    <div class="contenedor">
        <h1>Tarjetas Memoria RAM - TOP 4</h1>
        <div class="productos">
            <!-- RAM Opción 1 -->
            <div class="producto">
                <img src="/images/ram1.webp" alt="Corsair Vengeance RGB">
                <h2>Corsair Vengeance RGB</h2>
                <p>DDR5 6000MHz PC5-48000 32GB 2x16GB CL36 Negra</p>
                <p>Precio: 123€</p>
            </div>
            <!-- RAM Opción 2 -->
            <div class="producto">
                <img src="/images/ram2.webp" alt="Corsair Vengeance">
                <h2>Corsair Vengeance</h2>
                <p>DDR5 6400MHz PC5-51200 32GB 2x16GB CL32 Negra</p>
                <p>Precio: 149€</p>
            </div>
            <!-- RAM Opción 3 -->
            <div class="producto">
                <img src="/images/ram3.webp" alt="Team Group T-Force Delta RGB ">
                <h2>Team Group T-Force Delta RGB </h2>
                <p>DDR5 7600MHz 32GB 2x16GB CL36</p>
                <p>Precio: 236€</p>
            </div>
            <!-- RAM Opción 4 -->
            <div class="producto">
                <img src="/images/ram4.webp" alt="Kingston FURY Beast">
                <h2>Kingston FURY Beast</h2>
                <p>DDR5 5200MHz 32GB 2x16GB CL40</p>
                <p>Precio: 354€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>        
    </div>

</body>
</html>
