.contenedor {
    text-align: center;
    width: 80%;
    max-width: 960px; /* Ajusta este valor según la necesidad */
    margin: 40px auto; /* Centra el contenedor en la página */
}

h1 {
    color: #ffffff;
    margin-bottom: 48px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye los productos uniformemente */
    gap: 20px; /* Espacio entre productos */
}

.producto {
    width: calc(50% - 20px); /* Ajuste para 2 productos por fila con espacio */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
}

.producto img {
    width: auto; /* Permite que la imagen ajuste su ancho automáticamente */
    height: 160px; /* Altura fija para las imágenes */
    object-fit: contain; /* Asegura que la imagen se vea completa y centrada */
    margin-top: 10px; /* Espacio superior para la imagen dentro del producto */
}

.producto h2, .producto p {
    margin: 20px;
}

.producto a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.producto a:hover {
    background-color: #0056b3;
}

.contenedor-boton {
    text-align: center;
    margin-top: 20px;
}

.contenedor-boton button {
    background-color: #007bff; /* Azul */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
}

.contenedor-boton button:hover {
    background-color: #0056b3; /* Azul oscuro al pasar el mouse */
}

.metodos-pago {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px; /* O el tamaño que prefieras */
    z-index: 10;
}

.metodos-pago h3 {
    color: #ffffff; /* O el color que prefieras */
    font-size: 1em; /* O el tamaño de fuente que prefieras */
    text-align: center;
    margin: 0 0 5px 0; /* Ajusta el margen según necesites */
}

.metodos-pago img {
    width: 100%;
    height: auto;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
  }
  
  body {
    background-image: url('/fondo.jpg'); /* Reemplaza con la URL de tu imagen de fondo */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* O 'fixed' si prefieres que el fondo no se desplace con el scroll */
    background-size: cover;
    background-color: #f5f5f5; /* Color de fondo en caso de que la imagen no cargue */
  }
  