.contenedor {
    text-align: center;
    width: 80%;
    max-width: 960px; /* Ajusta este valor según la necesidad */
    margin: 40px auto; /* Centra el contenedor en la página */
}

@font-face {
    font-family: 'FuenteTitulo'; /* Asigna un nombre a tu fuente */
    src: url('/fuente.ttf') format('truetype'); /* Cambia la URL al archivo de tu fuente */
    font-weight: normal;
    font-style: normal;
  }
  

body {
    font-family: 'Roboto', sans-serif;
  }
  
h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  

h1 {
    color: #ffffff;
    margin-bottom: 48px;
    font-family: 'FuenteTitulo', sans-serif;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye los productos uniformemente */
    gap: 20px; /* Espacio entre productos */
}

.producto {
    width: 250px; /* Ancho fijo para cada cuadro de producto */
    height: 350px; /* Altura fija para cada cuadro de producto */
    margin: 20px; /* Margen para evitar que los cuadros se toquen entre sí */
    background-color: rgba(0, 0, 0, 0.7); /* Un fondo negro con algo de transparencia */
    border-radius: 10px; /* Esquinas redondeadas para un aspecto más suave */
    padding: 20px; /* Espacio interior para no pegar el contenido a los bordes */
    color: white; /* Color de texto blanco para mayor contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para efecto de profundidad */
    overflow: hidden; /* Oculta el contenido que excede el tamaño del cuadro */
    display: flex; /* Usa flexbox para alinear el contenido internamente */
    flex-direction: column; /* Organiza los hijos de producto en una columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    transition: all 0.3s ease; /* Transición suave para interacciones del ratón */
  }
  
.producto:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el ratón */
  }

.producto img {
    width: auto; /* Asegura que la imagen se ajuste dentro del cuadro */
    max-height: 120px; /* Altura máxima para la imagen para mantener el diseño uniforme */
    margin-bottom: 15px; /* Margen debajo de la imagen */
  }

.producto h2 {
    margin: 10px 0; /* Margen arriba y abajo para el título del producto */
    text-align: center; /* Asegura que el título esté centrado */
  }
  
 
.producto p {
    text-align: center; /* Asegura que la descripción esté centrada */
    margin-bottom: 15px; /* Margen debajo de la descripción */
  } 

.producto button {
    cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clickeable */
  } 

.producto a {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.producto a:hover {
    background-color: #434a52;
}

.contenedor-boton {
    text-align: center;
    margin-top: 20px;
}

.contenedor-boton button {
    background-color: #000000; 
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
}

.contenedor-boton button:hover {
    background-color: #434a52; /* Azul oscuro al pasar el mouse */
}

.metodos-pago {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px; /* O el tamaño que prefieras */
    z-index: 10;
}

.metodos-pago h3 {
    color: #ffffff; /* O el color que prefieras */
    font-size: 1em; /* O el tamaño de fuente que prefieras */
    text-align: center;
    margin: 0 0 5px 0; /* Ajusta el margen según necesites */
}

.metodos-pago img {
    width: 100%;
    height: auto;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
  }
  
  body {
    background-image: url('/fondo.jpg'); /* Reemplaza con la URL de tu imagen de fondo */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* O 'fixed' si prefieres que el fondo no se desplace con el scroll */
    background-size: cover;
    background-color: #f5f5f5; /* Color de fondo en caso de que la imagen no cargue */
  }
  
  /* Estilos básicos para tu formulario */
.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #333;
  }
  
  /* Estilo para los campos de entrada */
  .form input[type="email"],
  .form select,
  .form textarea,
  .form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo específico para los textos de entrada de texto completo */
  .form .u-full-width {
    font-size: 0.95em;
    line-height: 1.4em;
    background: #f9f9f9;
  }
  
  /* Estilo para el área de texto */
  .form textarea {
    height: 120px;
  }
  
  /* Estilos para el botón de envío */
  .form .button-primary {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Cambia el color del botón al pasar el ratón */
  .form .button-primary:hover {
    background-color: #555;
  }
  
  /* Estilo para la etiqueta del checkbox */
  .form .example-send-yourself-copy {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Estilo para el texto del checkbox */
  .form .label-body {
    margin-left: 8px;
    color: #333;
    font-size: 0.9em;
  }
  
  /* Ajustes de responsive design */
  @media (max-width: 767px) {
    .forminput[type="email"],
    .form select,
    .form textarea,
    .form input[type="checkbox"] {
    width: 100%;
    }
    
    .form .row {
    flex-direction: column;
    }
    
    .form .six.columns {
    width: 100%;
    }
    }