<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Refrigeración líquida</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>Refrigeración líquida - TOP 4</h1>
        <div class="productos">
            <!-- Refrigeración Opción 1 -->
            <div class="producto">
                <img src="/images/Refrigeracion1.png" alt="Corsair iCUE H150i RGB ELITE">
                <h2>Corsair iCUE H150i RGB ELITE</h2>
                <p>Dimensiones del ventilador 120 mm x 25 mm - Dimensiones del radiador 397 mm x 120 mm x 27 mm</p>
                <p>Precio: 176€</p>
                <a href="/add-to-cart?product=IntelCorei9">Añadir al Carrito</a>
            </div>
            <!-- Refrigeración Opción 2 -->
            <div class="producto">
                <img src="/images/Refrigeracion2.png" alt="Tempest Liquid Cooler 120 ARGB">
                <h2>Tempest Liquid Cooler 120 ARGB</h2>
                <p>Dimensiones del ventilador: 120 x 120 x25mm - Dimensiones del radiador: 54 x 120 x 27mm</p>
                <p>Precio: 75€</p>
                <a href="/add-to-cart?product=IntelCorei9">Añadir al Carrito</a>
            </div>
            <!-- Refrigeración Opción 3 -->
            <div class="producto">
                <img src="/images/Refrigeracion3.png" alt="Razer Hanbo ARGB">
                <h2>Razer Hanbo ARGB </h2>
                <p>Dimensiones del ventilador: 2 x 120mm PWM de 4 pines - Dimensiones del radiador: 275 x 30 x 123 mm</p>
                <p>Precio: 274€</p>
                <a href="/add-to-cart?product=IntelCorei9">Añadir al Carrito</a>
            </div>
            <!-- Refrigeración Opción 4 -->
            <div class="producto">
                <img src="/images/Refrigeracion4.png" alt="Corsair iCUE LINK H115i RGB AIO">
                <h2>Corsair iCUE LINK H115i RGB AIO</h2>
                <p>Dimensiones del ventilador 140 mm x 25 mm - Dimensiones del radiador 277 mm x 140 mm x 27 mm</p>
                <p>Precio: 255€</p>
                <a href="/add-to-cart?product=IntelCorei9">Añadir al Carrito</a>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>
        
        
    </div>

</body>
</html>
